<div class="wrapper">
	<div class="box header">
		<h1>Headless Example Site</h1>
		<h3>Primary Nav</h3>
		<ul class="mura-primary-nav mura-nav-vertical"></ul>
	</div>
	<div class="box sidebar">
		<h3>Child Nav</h3>
		<ul class="mura-child-nav"></ul>
		<div class="mura-region-container" data-region="leftcolumn"></div>
	</div>
	<div class="box content">
		<h3>Crumb Nav</h3>
		<ul class="mura-crumb-nav mura-nav-vertical"></ul>
		<div class="mura-content"></div>
		<div class="mura-region-container" data-region="maincontent"></div>
	</div>
</div>
 <div class="mura-html-queues"></div>
